/*
	헤더
*/
.header-wrap{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	background:#fff;
	padding:0 82px;	
	z-index:100;
}
.header-wrap .table > div, .gnb img{
	vertical-align:middle;
}	
.gnb-wr{
	text-align:right;
	position: relative;
}
.gnb{
	display:inline-block;
	font-size: 0;
}
.gnb li{
	display:inline-block;
	vertical-align:middle;
	position:Relative;
}
.gnb li a{
	display:block;
	color:#000;
	font-size: 16px;
	font-weight: 500;
	letter-spacing:0;
	position:relative;
}
.logo{
	padding-left:64px;
}
.gnb > li{
	margin-right:60px;
	text-align:Center;
}
.gnb > li > a{
	line-height:95px;
}
.gnb li a{
	overflow:hidden;
	cursor:pointer;
}
.gnb li a.gnb-menu:before, .li-lang:after{
	content:"";
	display:block;
	width:100%;
	height:3px;
	background:#1cd8b6;
	position:absolute;
	bottom:0;	
    -webkit-transform: translateX(-101%);
    -ms-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-transition: -webkit-transform .3s cubic-bezier(.5,.7,.4,1), opacity 0.1s ease 0.3s;
    transition: transform .3s cubic-bezier(.5,.7,.4,1), opacity 0.1s ease 0.3s;
    z-index:2;
}
.gnb li > a:hover:before, .li-lang:after{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.gnb li.out > a:before{
    -webkit-transform: translateX(101%);
    -ms-transform: translateX(101%);
    transform: translateX(101%);
    opacity:0;
}
.li-lang:after{
	background:#000;	
    z-index:1;
}
.gnb li.li-search a:before, .lang-ul li a:before{
	display:none;
}
.gnb li.li-line{
	overflow:visible;
}
.li-line > a{
	min-width:108px;
}
.gnb > li.li-line{
	border-left:1px solid rgba(0,0,0,0.1);
	margin:0;
}
.gnb li > a:hover{
	color:#1cd8b6;
}
.non-txt{
	font-size:0;
    vertical-align: middle;
}

.lang-ul{
	position:absolute;
	lefT:0;
	top:100%;
	width:100%;
	display:none;
}
.lang-ul li{
	width:100%;	
}
.lang-ul li a{
	line-height:38px;
	background:#fff;
}
.lang-ul li.act a{
	background:#1cd8b6;
	color:#fff;
}

/* 뎁스 */
.depth{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    opacity:0;
    -webkit-transition: all 0.5s ease ;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top:-1px;
}
.depth ul{
	display:table;
}
.depth ul > li{
	display:Table-cell;
	vertical-align:middle;
	position:relative;
	padding:0 20px;
}
.depth ul > li a{
	white-space:nowrap;
	line-height:76px;
	font-weight:400;
}
.depth ul > li:hover a{
	font-weight:500;
}
.depth ul > li + li:before{
	content:"";
	display:inline-block;
	width:3px;
	height:3px;
	background:#000;
	position:Absolute;
	left:0;
	top:50%;
	margin-top:-2px;
}
.header-bg{
	position:absolute;
	top:100%;
	left:0;
	width:100%;
	background:Rgba(255,255,255,0.8);
    height: 76px;
    transform:scaleY(0);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform-origin:top center;
    margin-top:-1px;
}
.header-wrap.on .header-bg{
    transform:scaleY(1);
}
.gnb li.on .depth {
	opacity:1;
}
.gnb li{
	overflow:hidden;
}
.gnb li.on{
	overflow:visible;
}
.depth ul > li > a:hover{
	color:#000;
}
.depth ul > li > a:before{
	background:#000;
}
.header-wrap .logo{
	width:200px;
}

/*
	검색박스
*/
.gnb li.gnb_searchBox {
	width: 470px;
	height: 110px;
    position: absolute;
    right: 0;
    top: 100%;
    overflow: hidden;
    z-index: -1;
    display: none;
/*     transition: 0.5s ease; */
}
.gnb li.gnb_searchBox.on {
/* 	top: 100%; */
/* 	display: block; */
/* 	height: 110px; */
}
.gnb_searchBox .gnb_search_inner {
	
	position: absolute;
	left: 0;
	top: -100%;
	width: 100%;
	transition: 0.5s ease;
/* 	transition-delay: 1s; */
	opacity: 0;
	top: 0;
	opacity: 1;
}
.gnb_searchBox.on .gnb_search_inner {
/* 	top: 0; */
/* 	opacity: 1; */
}
.gnb_searchBox .top {
	background: #fff;
	width: 100%;
	height: 72px;
	padding: 0 20px;
}
.gnb_search {
	width: 100%;
	line-height: 72px;
	border: none;
	outline: none;
}
.gnb_search::placeholder {
	color: rgba(0, 0, 0, 0.4);
	letter-spacing: -0.8px;
}
.gnb_searchBox .bottom {
	background: #f7f7f7;
	width: 100%;
	height: 38px;
	text-align: right;
}
.gnb_searchBox .bottom .close {
	cursor: pointer;
}
.gnb_searchBox .bottom span {
	display: block;
	padding: 0 20px;
	line-height: 38px;
}

/*
	햄버거메뉴
*/

.ham-menu{
    position: absolute;
    right: 77px;
    top: 0;
    height: 100%;
    width: 42px;
    text-align: center;
    
    /* 22.01.10 영하추가 */
}
.ham-menu span{
	width:42px;
	height:3px;
	background:#000;
	display:block;
    margin: 0 auto;
    position:Absolute;
    top:45%;
    left:50%;
    margin-left:-21px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
   	transform-origin: center;
}
.ham-menu span:last-child{
	margin-top:7px;
}
.ham-menu.act span:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.ham-menu.act span:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
	margin-top:0;
}
.ham-wr{
	position:fixed;
	right:-100%;
	top:95px;
	width:100%;
	height:calc( 100% - 95px );
	background:#fff;
   	z-index: 100;
	padding:0 50px 350px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
   	
}
.ham-wr.act{
	right:0;	
}
.ham-wr:before{	
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0,0,0,0.1);
    position: Absolute;
    bottom: 95px;
    left: 0;
}
.ham-in{
    height: 100%;
    overflow-y: scroll;	
}
.ham-search{
	position:Relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ham-search input{
	height:95px;
	padding:0 36px;
	width:100%;
	font-size:20px;
	border:0;
}
::placeholder {
	color: rgba(0, 0, 0, 0.2);
	letter-spacing:0;
}
.ham-search button{
    position: Absolute;
    right: 0;
    top: 0;
    height: 95px;
    width: 95px;
}
.ham-top li{
	display:block;
	margin:0;
	text-align:left;
	position:static;
}
.ham-top .gnb{
	display:block;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    position:relative;
}
.ham-top .gnb > li.li-line{
	border:0;
}
.ham-top .li-line{
	display:none;
}
.ham-top .gnb a{
	font-size:20px;
	padding:0 35px;
	line-height:95px;
}
.ham-top .gnb > li{
	width:50%;
}
.ham-top .gnb li{
    border-right: 1px solid rgba(0,0,0,0.1);
	margin:0;
}
.ham-top .gnb li + li{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.ham-top .gnb li a:before{
	display:none;
}
.ham-top .gnb > li > a{
	background-image:url(/img/icon/ham-icon01.png);
	background-size:10px auto;
	background-position:90% center !important;
	background-repeat:no-repeat;
}
.ham-top .gnb li.on > a{
	background-color:#1cd8b6;
	color:#fff;
}
.ham-top .gnb .depth{
	left:50%;
    transform: none;
    width:50%;
    top: 1px;
    z-index:1;
}
.ham-top .gnb .on .depth{
    z-index:10;
}
.ham-top .depth ul > li{
	display:block;
	padding:0;
	border-right:0;
}
.ham-top .depth ul > li + li:before{
	display:none;
}
.ham-top .depth ul{
	width:100%;
}
.ham-top .depth li:last-child{
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ham-top .depth li:nth-child(5){
	border-bottom: 0;
}



.ham-mid{
	text-align:left;
	padding:30px 40px;
	/* 22.01.10 영하추가 */
	padding:30px 50px;
}
.ham-mid .foot-intit p{
	font-size:16px;
	color:#000;
	font-weight:500;
}
.ham-mid li{
	display:inline-block;
	font-size:14px;
	color:rgba(94, 94, 94, 0.8);
}
.ham-mid li:after{
	content:"";
	display:inline-block;
	width:1px;
	height:10px;
	background:rgba(94, 94, 94, 0.8);
	margin:0 15px;
}
.ham-mid li:nth-child(odd):after, 
.ham-mid li:last-child:after{
	display:none;
	
}
.ham-mid li:nth-child(3){
	margin-bottom:20px;
}
.ham-mid ul{
	max-width:400px;
}
.ham-fix{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	
}
.ham-bot{
	display:table;
	width:100%;
	table-layout:fixed;
	padding:0 50px;
}
.ham-bot > div{
	display:table-cell;
	vertical-align:middle;
}
.ham-bot ul{
	width:100%;
	font-size:0;
}
.ham-bot li{
	display:inline-block;
	vertical-align:middle;
    text-align: center;
}
.ham-bot .lnb-ul .hov{
	opacity:1;
}
.ham-bot .lnb-ul .def{
	opacity:0;
}
.sns-area{
	width:70%;	
}
.sns-area li{
	width:25%;
}
.lang-area li{
	width:50%;	
}
.lang-area a{
	display:block;
	color:rgba(94, 94, 94, 0.8);
	font-weight:500;
	line-height:95px;
	font-size:16px;	
    border-left: 1px solid rgba(0,0,0,0.1);
	position:relative;
}
.lang-area .act a{
	color:#1cd8b6;
}
.lang-area a:after{
	content:"";
	display:block;
	width:100%;
	height:3px;
	background:#5e5e5e;
	position:absolute;
	bottom:0;
	left:0;
	z-index:10;
}
.lang-area .act a:after{
	content:"";
	display:block;
	width:100%;
	height:3px;
	background:#1cd8b6;
}

/*
	푸터
*/
.footer{
	background:#000000;
	padding:76px 82px 0 ;
	position:relative;
    width: 100%;;
    z-index:1;
    overflow:hidden;
}
.footer .line-box span{
    background: rgba(255,255,255,0.2);
    position: absolute;
}
.footer:before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.2);
    position: Absolute;
    bottom: 95px;
    left: 0;
	
}
footer, .copyright{
	max-width:1400px;
	margin:0 auto;
}
.foot-info *{
	font-size:16px;	
	color:#fff;
}
.foot-info li{
/* 	opacity:0.4; */
	margin-right:30px;
	display:inline-block;
}
.foot-intit p{
/* 	opacity:0.8; */
}
.foot-logo{
	margin-bottom:50px;
}
.foot-fam{
	margin-bottom:30px;
}
.foot-r{
	width:210px;
}
.select, .gobtn{
	display:block;
	max-width:300px;
	position:relative;
}
.select > p, .gobtn{
	font-size:15px;
	background:url(/img/icon/family-i.png) no-repeat right center;
	line-height:42px;
	padding-right:30px;
	border-bottom:1px solid #fff;
	color:#fff;
	letter-spacing:0;
	cursor:pointer;
	text-transform:uppercase;
}
.select ul{
	font-size:15px;	
	color:#fff;
	background:#000;
	border:1px solid #d7d7d7;
	border-top:0;
	display:none;
	position:Absolute;
	left:0;
	top:100%;
	width:100%;
	z-index:10;
}
.select ul li a{
	padding:5px 10px;
	color:#fff;
	display:inline-block;
}
.foot-sns ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright{
    font-size:16px;
    color:rgba(255, 255, 255, 0.4);
    line-height:94px;
    letter-spacing:0;
    margin-top:85px;
}
.top-btn{
	position:Absolute;
	bottom:0;
	right:83px;
	z-index:50;
	width:96px;
	height:96px;
	line-height:96px;
	text-align:Center;
	background:#333;
	cursor:pointer;
}
.top-btn img{
	position:Absolute;
	top:50%;
	left:50%;
	margin:-10px 0 0 -7px;
}
.foot-info > div:last-child{
	max-width:770px;
}
.foot-info > div{
	display:inline-block;
	vertical-align:top;
}
.foot-intit{
	margin-right:40px;
}
.foot-logo > a{
	display:inline-block;
	position:relative;
    vertical-align: middle;
}
.foot-logo > a + a{
	margin-left:60px;
}
.foot-logo > a + a:before{
	content:"";
	display:block;
	width:1px;
	height:23px;
	background:Rgba(255,255,255,0.4);
	position:absolute;
	left:-30px;
	top:50%;
	margin-top:-11px;
}
.foot-privacy {
	font-size: 0;
}
.foot-privacy li {
	margin-right: 20px;
}
.foot-privacy a {
	display: block;
	background: url(/img/icon/family-i.png) no-repeat right center;
	letter-spacing: -1.2px;
    padding-right: 28px;
	margin-top: 8px;
	color: #fff;
    opacity: 0.4;
}

/*
	레이아웃
*/
html, body{
	overflow-x:hidden;
}
.container{
	padding:95px 0 0;
	position:relative;
}
.line-box span{
	position:fixed;
	background:rgba(0,0,0,0.1);
    z-index: 101;
}
.line-l, .line-r{
	width:1px;
	height:100%;
	top:0;
}
.line-t, .line-b{
	width:100%;
	height:1px;
	left:0;
}
.line-l{
	left:82px;
}
.line-r{
	right:82px;
}
.line-t{
	top:95px;
}
.line-b{
	bottom:95px;
	display:none;
}
.mu-grid{
	max-width:1400px;
	margin:0 auto;
}


/*
	컬러
*/
.color-000{
	color:#000;
}